



.css-1wf22gv{
position: unset;
}
 

.css-18e3th9{
padding-top: 0rem;

}

span[data-baseweb="tag"] {
    background-color: purple !important;
  }

.css-eczf16{
    width:0;

}

.left{
    position: fixed;
    
    right: 4rem;
       
}
.css-1qrvfrg {
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
    padding: 0.25rem 6rem;
    border-radius: 0.25rem;
    margin: 0px;
    line-height: 1.6;
    color: inherit;
    width: auto;
    bottom: 25px;
    margin-left: 18px;
    background-color: rgb(249, 249, 251);
    border: 1px solid rgba(49, 51, 63, 0.2);
}    

.css-1cpxqw2{

    width: inherit;
}


.st-cj {
    padding-right: 3.5px;
}

